<% @books.each do |book| %>
  <div>
    <%= link_to user_path(@user.id) do %>
      <%= image_tag book.user.get_profile_image(100,100) %>
    <% end %>
    <%= book.title %>
    <%= book.body %>
  </div>
<% end %>